@font-face {
  font-family: ralewayBold;
  src: url(../font/Raleway-Bold.ttf); }

@font-face {
  font-family: ralewayMedium;
  src: url(../font/Raleway-Medium.ttf); }

@font-face {
  font-family: ralewayLight;
  src: url(../font/Raleway-Light.ttf); }

.nav {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.07);
  color: #5E666F; }

.nav-link {
  text-align: center;
  padding: 10px;
  margin-top: 10px; }

.active {
  color: #486494 !important; }

.bcg-btnPedido {
  color: #fff;
  background-color: rgba(165, 133, 201, 0.75);
  border-radius: 7.29px; }

.logoNav img {
  width: 100%;
  height: auto;
  max-width: 120px;
  min-width: 90px; }

.sectionHome {
  background: linear-gradient(180deg, rgba(255, 250, 249, 0) 0%, #FFF4F2 100%); }

.presentacionContainer {
  display: grid;
  padding: 15px;
  grid-template-columns: 2fr 1fr; }

.presentacionPagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px; }
  .presentacionPagina button {
    width: 115px;
    height: 30px;
    border-radius: 10px;
    background-color: #A585C9; }
    .presentacionPagina button a {
      text-decoration: none;
      color: white;
      font-size: 15px; }
    .presentacionPagina button :hover {
      width: 115px;
      height: 30px;
      border-radius: 10px;
      background-color: #9b81b9; }

.imgContainer {
  display: flex;
  justify-content: flex-end; }
  .imgContainer img {
    width: 50vw;
    max-width: 800px;
    height: auto; }

.quienesSomos {
  padding: 30px;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr; }

.sectionQuienesSomos {
  background-color: #FFEEEB; }

.sectionProcesos {
  background-color: #F4DAD4;
  display: flex;
  flex-direction: column; }

.encabezadoProceso {
  padding: 30px; }

.procesoProductos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px 0px 10px; }
  .procesoProductos article {
    max-width: 200px;
    max-height: auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .procesoProductos article p {
      color: #486494; }
  .procesoProductos article img {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    max-width: 125px;
    margin-bottom: 10px; }

.flecha img {
  background: transparent !important;
  max-width: 150px;
  max-height: 15px; }

.encabezadoContactanos {
  padding: 30px; }

.contenidoContactanos {
  padding: 0px 30px 30px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

#contactanos{
  background-color: #FFEEEB;
}

.asideNoticia{
  position: absolute;
  height: 35px;
  width: 100%;
  top: 83px;
  background-color: #EFCCC4;
  text-align: center;
  box-shadow: 0px 20px 50px -10px grey; }
  .asideNoticia p {
    margin-top: 5px;
    background-color:#EFCCC4;
  }

.asideRedes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px; }
  .asideRedes div img {
    max-width: 35px; }

.asideMapa {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }
  .asideMapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 424px) {
  .contenidoContactanos {
    grid-template-columns: 1fr; }
  .asideMapa {
    margin-top: 30px; } }

@media only screen and (max-width: 469px) {
  .presentacionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .imgContainer {
    display: none; } }

@media only screen and (max-width: 767px) {
  .procesoProductos {
    flex-direction: column; }
  .flecha {
    display: flex;
    align-items: center;
    height: 150px; }
    .flecha img {
      transform: rotate(90deg); } }

.containerProductos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(178.94deg, #FFFAF9 51.93%, #F4DAD4 117.52%);
  padding-bottom: 15px; }

.encabezadoProductos {
  display: flex;
  flex-direction: column;
  padding: 30px; }

.cardsFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; }

.estiloCards {
  border: none;
  background-color: transparent;
  max-width: 180px;
  height: 300px; }
  .estiloCards :hover {
    color: #9b81b9;
    text-decoration: none; }
  .estiloCards div p {
    text-align: center; }
  .estiloCards div img {
    background-color: transparent;
    border: none; }

#slider {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px; }

.container-slider {
  width: 100%;
  margin: auto; }

.slide-img {
  height: 350px;
  border-radius: 5%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.img-1 {
  background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg); }

.img-2 {
  background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg); }

.img-3 {
  background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg); }

.img-4 {
  background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg); }

.img-5 {
  background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg); }

.fondoEscenciales {
  background-color: #BEAED0;
  width: 180px;
  height: 168px;
  border-radius: 40px; }
  .fondoEscenciales img {
    max-width: 218px;
    max-height: 210px;
    position: relative;
    bottom: 25%;
    left: 24%;
    right: 40%; }
  .fondoEscenciales div p {
    margin: 0%; }

.fondoHidrolatos {
  background-color: #F4DAD4;
  width: 180px;
  height: 168px;
  border-radius: 40px; }
  .fondoHidrolatos img {
    max-width: 218px;
    max-height: 210px;
    position: relative;
    bottom: 25%;
    left: 24%;
    right: 40%; }
  .fondoHidrolatos div p {
    margin: 0%; }

.fondoVegetales {
  background-color: #B3B7B9;
  width: 180px;
  height: 168px;
  border-radius: 40px; }
  .fondoVegetales img {
    max-width: 218px;
    max-height: 210px;
    position: relative;
    bottom: 25%;
    left: 24%;
    right: 40%; }
  .fondoVegetales div p {
    margin: 0%; }

.fondoVarios {
  background-color: #909EB6;
  width: 180px;
  height: 168px;
  border-radius: 40px; }
  .fondoVarios img {
    max-width: 218px;
    max-height: 210px;
    position: relative;
    bottom: 25%;
    left: 24%;
    right: 40%; }
  .fondoVarios div p {
    margin: 0%; }

.fondoSinteticos {
  background-color: #efc25081;
  width: 180px;
  height: 168px;
  border-radius: 40px; }
  .fondoSinteticos img {
    max-width: 218px;
    max-height: 210px;
    position: relative;
    bottom: 25%;
    left: 24%;
    right: 40%; }
  .fondoSinteticos div p {
    margin: 0%; }

.dropup {
  opacity: 1;
  position: fixed;
  bottom: 13vh;
  right: 20px; }
  .dropup button {
    padding: 0;
    border: 0; }
  .dropup a img {
    width: 80px; }
  .dropup button > img {
    max-width: 50px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px; }

.dropdown-menu {
  border: 0;
  background-color: transparent;
  padding: 0;
  min-width: 0; }
  .dropdown-menu li {
    padding: 0;
    padding-bottom: 10px; }
  .dropdown-menu li img {
    width: 50px; }

.footerContainer {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1); }
  .footerContainer p, .footerContainer ul {
    margin: 0; }

.footerContainer ul {
  display: flex; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none; }

h1, h2 {
  font-weight: 600;
  color: #486494; }

li {
  list-style-type: none; }

html {
  scroll-behavior: smooth; }

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: ralewayMedium;
  color: #5E666F; }

header {
  width: 100%; }

main {
  width: 100%; }

footer {
  width: 100%;
  margin-top: auto; }

a {
  color: grey;
  text-decoration: none; }
  a :hover {
    color: #9b81b9; }
