@font-face {
  font-family: ralewayBold;
  src: url(../font/Raleway-Bold.ttf); }

@font-face {
  font-family: ralewayMedium;
  src: url(../font/Raleway-Medium.ttf); }

@font-face {
  font-family: ralewayLight;
  src: url(../font/Raleway-Light.ttf); }

.nav {
  justify-content: center;
  color: #5E666F;
  background-color: #F4DAD4;
  position: sticky;
  top: 0%; }

.nav-item {
  height: 50px; }

.logo {
  position: absolute;
  left: 0%; }

.active {
  background-color: #A585C9;
  color: #5E666F; }

.footerContainer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  background-color: #F4DAD4; }

.footerContainer ul {
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.footerContainer li {
  padding: 10px; }

.logoFooter a img {
  width: 100%;
  height: auto;
  max-width: 150px; }

.logoFooter {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none; }

li {
  list-style-type: none; }

/* scroll suave */
html {
  scroll-behavior: smooth; }

body {
  font-size: 100%;
  font-family: ralewayMedium;
  color: #5E666F;
  line-height: 1.4em; }

main {
  width: 100%;
  height: 70vh; }
