@font-face {
  font-family: ralewayBold;
  src: url(../font/Raleway-Bold.ttf); }

@font-face {
  font-family: ralewayMedium;
  src: url(../font/Raleway-Medium.ttf); }

@font-face {
  font-family: ralewayLight;
  src: url(../font/Raleway-Light.ttf); }

.nav {
  background-color: #F4DAD4;
  color: #5E666F; }

.nav-link {
  text-align: center;
  padding: 10px;
  margin-top: 10px; }

.active {
  background-color: #A585C9;
  color: #5E666F;
  border-radius: 5px; }

.logoNav img {
  width: 100%;
  height: auto;
  max-width: 120px;
  min-width: 90px; }

.footerContainer {
  width: 100vw;
  position: absolute;
  bottom: 100;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
  background-color: #F4DAD4; }

.footerContainer ul {
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.footerContainer li {
  padding: 10px; }

.logoFooter a img {
  width: 100%;
  height: auto;
  max-width: 120px;
  min-width: 90px; }

.logoFooter {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none; }

li {
  list-style-type: none; }

/* scroll suave */
html {
  scroll-behavior: smooth; }

body {
  font-size: 100%;
  font-family: ralewayMedium;
  color: #5E666F;
  line-height: 1.4em; }

main {
  width: 100%;
  height: 100vh; }

.btnWhatsApp {
  position: fixed;
  bottom: 15vh;
  right: 8px;
  z-index: 100; }

.btnWhatsApp a img {
  max-width: 85px; }
