#slider {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-slider {
    width: 100%;
    margin: auto;
}

.controller {
    display: flex;
    justify-content: center;
}

.controls {
    color: white;
    font-size: 1rem;
}

.previous .next {
    cursor: pointer;
}

.slide-img {
    height: 350px;
    border-radius: 5%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.slide-img:hover {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.slide-img a {
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}

.slide-img:hover a {
    opacity: 1;
    transform: scale(1);
}

.img-1 {
    background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg);
}

.img-2 {
    background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg);
}

.img-3 {
    background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg);
}

.img-4 {
    background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg);
}

.img-5 {
    background-image: url(https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4041392.jpg&fm=jpg);
}