#slider {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.container-slider {
    width: 100%;
    margin: auto;
}

.slide-img {
    height: 350px;
    border-radius: 5%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 {
    background-image: url(../img/Slider/Rectangle60.png);
}

.img-2 {
    background-image: url(../img/Slider/Rectangle59.png);
}

.img-3 {
    background-image: url(../img/Slider/Rectangle61.png);
}

.img-4 {
    background-image: url(../img/Slider/Rectangle62.png);
}

.img-5 {
    background-image: url(../img/Slider/Atelier-Elaboración-Perfume.jpg);
}

.img-6 {
    background-image: url(../img/Slider/Destilacion-expo-calidad-de-vida.jpg);
}

.img-7 {
    background-image: url(../img/Slider/Destilación-2.JPG);
}

.img-8 {
    background-image: url(../img/Slider/Destilación-de-Manzanilla.jpg);
}

.img-9 {
    background-image: url(../img/Slider/Jazmín.jpg);
}

.img-10 {
    background-image: url(../img/Slider/Pétalos-de-rosas.jpg);
}

.img-11 {
    background-image: url(../img/Slider/Vivero-a-Campo.JPG);
}