.containerProductos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(178.94deg, #FFFAF9 51.93%, #F4DAD4 117.52%);
    padding-bottom: 15px;
}

.encabezadoProductos {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.cardsFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.estiloCards {
    border-color: transparent;
    background-color: transparent;
    max-width: 180px;
    height: 300px;

    :hover {
        color: #9b81b9;
        text-decoration: none;
    }

    div p {
        text-align: center;
    }

    div img {
        background-color: transparent;
        border: none;
    }
}