.containerProductos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(178.94deg, #F4DAD4 6.25%, #FBF2F0 117.52%);
    padding-bottom: 15px;
}

.encabezadoProductos {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.cardsFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.estiloCards {
    border: none;
    background-color: transparent;
    :hover {
    color: #9b81b9;
    text-decoration: none;
    }  
}