.dropup {
    opacity: 1;
    position: fixed;
    bottom: 13vh;
    right: 20px;

    button {
        padding: 0;
        border: 0;
    }

    a img {
        width: 80px;
    }

    button>img {
        max-width: 50px;
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
    }
}

.dropdown-menu {
    border: 0;
    background-color: transparent;
    padding: 0;
    min-width: 0;

    li {
        padding: 0;
        padding-bottom: 10px;
    }

    li img {
        width: 50px;
    }
}