@mixin fondoCards($color) {
    margin: 20px;
    background-color: $color;
    max-width: 180px;
    max-height: 100%;

    img {
        max-width: 220px;
        max-height: 220px;
    }
    div p {
        margin: 0%;
    }
}

.fondoEscenciales {
    @include fondoCards(#BEAED0);
}

.fondoHidrolatos {
    @include fondoCards(#f3dfdb);
}

.fondoVegetales {
    @include fondoCards(#B3B7B9);
}

.fondoVarios {
    @include fondoCards(#909EB6);
}

.fondoSinteticos {
    @include fondoCards(#efc25081);
}