@mixin fondoCards($color) {
    //margin: 20px;
    background-color: $color;
    width: 180px;
    height: 168px;
    border-radius: 40px;

    img {
        max-width: 218px;
        max-height: 210px;
        position: relative;
        bottom: 25%;
        left: 24%;
        right: 40%;
    }

    div p {
        margin: 0%;
    }
}

.fondoEscenciales {
    @include fondoCards(#BEAED0);
}

.fondoHidrolatos {
    @include fondoCards(#F4DAD4);
}

.fondoVegetales {
    @include fondoCards(#B3B7B9);
}

.fondoVarios {
    @include fondoCards(#909EB6);
}

.fondoSinteticos {
    @include fondoCards(#efc25081);
}