.presentacionPagina {
    z-index: 10;
    margin: 0px;
    padding-left: 50px;
    padding-top: 80px;
    h1{
        font-size: 40px;
        font-weight: 600;
        width: 100%;
        max-width: 220px;
    }
    p{
        font-size: 16px;
        width: 100%;
        max-width: 420px;
        z-index: 1;
    }
    button {
        width:115px;
        height: 30px;
        border-radius: 10px;
        background-color: #A585C9;
        a {
            text-decoration: none;
            color:#5E666F;
            font-size: 15px;
            :hover{
                text-decoration: none;
                color:#5E666F;
                font-size: 15px;
                color: #997bbb;
            }
        }
        :hover {
            width:115px;
            height: 30px;
            border-radius: 10px;
            background-color: #9b81b9;
        }
    }
}

.circuloFondo{
    z-index: 0;
    position: fixed;
    bottom: -10%;
    right: -15%;
    background-color: #e4c9c3c9;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    img{
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 20%;
        right: 50%;
    }
}
.FondoDegradado{
    position: relative;
    background-image: linear-gradient( #F4DAD4 35%, white);
}