.sectionHome {
    background: linear-gradient(180deg, rgba(255, 250, 249, 0) 0%, #FFF4F2 100%);
}

.presentacionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentacionPagina {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 30px 30px 30px;
    
    h1{
        margin-bottom: 50px;
    }

    button {
        margin-top: 25px;
        width: 115px;
        height: 30px;
        border-radius: 10px;
        background-color: #A585C9;

        a {
            text-decoration: none;
            color: white;
            font-size: 15px;
        }

        :hover {
            width: 115px;
            height: 30px;
            border-radius: 10px;
            background-color: #9b81b9;
        }
    }
}

.imgContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    img {
        width: 50vw;
        max-width: 800px;
        height: auto;
    }
}

.quienesSomos {
    padding: 30px;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr;
}

.sectionQuienesSomos {
    background-color: #FFF;
}

.sectionProcesos {
    background-color: #F4DAD4;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.encabezadoProceso {
    padding: 30px;
}

.procesoProductos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px 0px 10px;

    article {
        max-width: 200px;
        max-height: auto;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        p {
            color: #486494;
        }
    }

    article img {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        max-width: 125px;
        margin-bottom: 10px;
    }
}

.flecha img {
    background: transparent !important;
    max-width: 150px;
    max-height: 15px;
}

.encabezadoContactanos {
    padding: 30px;
}

.contenidoContactanos {
    padding: 0px 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.asideRedes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;

    div img {
        max-width: 35px;
    }
}

.asideMapa {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

#contactanos {
    background-color: #FFEEEB;
}

.asideNoticia {
    text-align: center;
    background-color: #EFCCC4;

    p {
        padding: 5px;
        background-color: #EFCCC4;
        margin-bottom: 0;
    }
}

// MEDIA QUERIES

@media only screen and (max-width: 424px) {

    .contenidoContactanos {
        grid-template-columns: 1fr;
    }

    .asideMapa {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 725px) {

    .presentacionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .imgContainer {
        display: none;
    }
}

@media only screen and (max-width: 767px) {

    .procesoProductos {
        flex-direction: column;
    }

    .flecha {
        display: flex;
        align-items: center;
        height: 150px;

        img {
            transform: rotate(90deg);
        }
    }
}