.mainIndex {
    background-image: linear-gradient(#F4DAD4 35%, white);
}

.presentacionContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.presentacionPagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;

    h1 {
        font-weight: 600;
        color: #486494;
    }

    button {
        width: 115px;
        height: 30px;
        border-radius: 10px;
        background-color: #A585C9;

        a {
            text-decoration: none;
            color: white;
            font-size: 15px;
        }

        :hover {
            width: 115px;
            height: 30px;
            border-radius: 10px;
            background-color: #9b81b9;
        }
    }
}

.imgContainer {
    display: flex;
    justify-content: flex-end;

    img {
        width: 50vw;
        max-width: 800px;
        height: auto;
    }
}

.quienesSomos {
    padding: 30px;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr;
}

// MEDIA QUERIES

@media only screen and (max-width: 469px) {

    .presentacionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .imgContainer {
        display: none;
    }
}