@media only screen and (max-width: 910px) {
    .circuloFondo{
      z-index: 0;
      position: fixed;
      bottom: -10%;
      right: -15%;
      background-color: #e4c9c3c9;
      width: 500px;
      height: 500px;
      border-radius: 50%;
    }
  }

@media only screen and (max-width: 700px){
    .circuloFondo{
      z-index: 0;
      position: fixed;
      bottom: -18%;
      right: -18%;
      background-color: #e4c9c3c9;
      width: 500px;
      height: 500px;
      border-radius: 50%;
    }
  }
  
@media only screen and (max-width: 500px) {
    .circuloFondo{
      z-index: 0;
      position: fixed;
      bottom: -30%;
      right: -15%;
      background-color: #e4c9c3c9;
      width: 500px;
      height: 500px;
      border-radius: 50%;
    }
  }