.nav {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.07);
    color: $ColorFuente;
}

.nav-link {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.active {
    color: #486494 !important;
}

.bcg-btnPedido {
    color: #fff;
    background-color: rgba(165, 133, 201, 0.75);
    border-radius: 7.29px;
}

.logoNav img {
    width: 100%;
    height: auto;
    max-width: 120px;
    min-width: 90px;
}