.nav{
    background-color: #faf3f1;
    color: $ColorFuente;
}

.nav-link {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.active{
    background-color: $ColorSecundario;
    color: $ColorFuente;
    border-radius: 5px;
}

.logoNav img {
    width: 100%;
    height: auto;
    max-width: 120px;
    min-width: 90px;
}