@font-face{
    font-family: ralewayBold;
    src: url(../font/Raleway-Bold.ttf);
}
@font-face {
    font-family: ralewayMedium;
    src: url(../font/Raleway-Medium.ttf);
}
@font-face{
    font-family: ralewayLight;
    src: url(../font/Raleway-Light.ttf);
}

$ColorPrincipal: #F4DAD4;
$ColorSecundario: #A585C9;
$ColorFuente: #5E666F;
$FuentePrincipal: ralewayMedium;
$FuenteSecundario: ralewayLight;
