@import "variables.scss";
@import "nav.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
}
li {
    list-style-type: none;
}
  /* scroll suave */
html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: $FuentePrincipal;
    color: $ColorFuente;
    line-height: 1.4em;
}