@import "_variables.scss";
@import "_nav.scss";
@import "_fab.scss";
@import "_footer.scss";
@import "_home.scss";
@import "_fondosProductos";


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: $FuentePrincipal;
    color: $ColorFuente;
    line-height: 1.4em;
}

//scroll suave
html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

main {
    width: 100%;
    background-image: linear-gradient(#F4DAD4 35%, white);
}

footer {
    width: 100%;
    margin-top: auto;
}

.btnWhatsApp {
    position: fixed;
    bottom: 15vh;
    right: 8px;
    z-index: 100;
}

.btnWhatsApp a img {
    max-width: 85px;
}

.cardsFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}